@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins"), local("Poppins-Regular"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  background-color: rgb(16, 21, 29)!important;
}
h1 {
  padding: 0;
  margin: 0;
}
h2,
h3 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--surface-900);
}
p {
  padding: 0;
  margin: 0;
}

.roboto-txt {
  font-family: 'Roboto Mono', monospace;
}

